.matches {
    text-align: center;
    margin-top: 2rem;
    margin-bottom:1rem;
    font-size: 2rem;
    text-decoration: wavy;
}
.chatbox {
    border-radius: 2rem;
    border-style: solid;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 35rem;
    margin-top: 1rem;
}
.label {
    color: grey;
    font-weight: lighter;
    text-align: center;
}
#text {
    margin-top: 20rem;
    border-radius: 0.5rem;
    width: 50%;
}
#send {
    border-radius: 0.5rem;
    background-color: #005cbf;
    border-color: #005cbf;
    color: white;
    margin-left: 1rem;
}
.input {
    text-align: center;
}