.display{
    display: flex;
    height: 10rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}
.display:hover{
    opacity:80%;
    filter: blur(5px);
    filter: brightness(0.4);

    filter: drop-shadow(16px 16px 20px blue);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(75%);
    filter: opacity(25%);
    filter: saturate(30%);
    filter: sepia(60%);
}
.logo {
    height: 10rem;
    width: 10rem;
    margin-right: 5rem;
}
.name {
    font-size: 2rem;
    color: black;
    text-decoration: none;
}
.logo-outer {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
.name-outer {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
hr {
    width: 80%;
}
#matches {
    text-align: center;
    margin-top: 2rem;
    text-decoration-style: dashed;
    text-decoration: black;
}